{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-dark-subtle p-2 bg-opacity-75 justify-content-center">
  <div class="container-fluid">

     <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar3" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

 <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar3" aria-labelledby="offcanvasNavbar3Label">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbar3Label">Menu</h5>
       <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
 </div>

  <div class="offcanvas-body">

{% show_navbar_menu %}


 </div>
  </div>
  </div>
</nav>

<div id="carouselExampleCaptions" class="carousel slide px-2"> </div>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">

    {% for o in offers %}

          <div class="carousel-item  active">
        <div class="bg-image">
       <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fb4%2F60%2F77%2Fb46077d54fa0ff24acb3595f8d8bfe04.png&f=1&nofb=1&ipt=b95d3a77a926518c495126bdcd1fed9518b00f837f72c5c61fbd1197b96e0504&ipo=images" class="d-block vw-100 " style="height: 800px" alt="gods">
            <div class="carousel-caption d-none d-md-block">
                <div class="mask" style="background-color: hsla(0, 0%, 0%, 0.6)">
             <h5>{{ o.title }}</h5>
        <p>{{ o.description }}</p>
                </div>
         </div>
      </div>
    </div>

      {% endfor %}


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


{% endblock %}