#header, .module caption{
    background: #198754;
}

a:link, a:visited {
    color: #198754;
}

div.breadcrumbs, .module h2, .inline-group h2  {
    background: #469f76;
}

#nav-sidebar {
    background-color: #e9ecef;
}

#changelist .paginator {
    background: #e9ecef;
}

.selector-chosen h2 {
    background: #469f76 !important;
}

.button.default, input[type="submit"].default, .submit-row input.default {
    background: #198754;
}

.button, input[type="submit"], input[type="button"], .submit-row input, a.button {
    background: #469f76;
}

#changelist-filter li.selected a {
  color: #198754 !important;
}